.services-detail-custom-css-001 {
    width: 100%;
    margin-top: -10%;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
        /* ข้อความแสดงเต็มที่ */
    }

    50% {
        opacity: 0;
        /* ข้อความหายไป */
    }
}

// XS
@media (max-width: 575px) {
    .services-detail-custom-css-001 {
        margin-top: 10%;
    }
}

// SM
@media (min-width: 576px) {
    .services-detail-custom-css-001 {
        margin-top: 10%;
    }
}

// MD
@media (min-width: 768px) {
    .services-detail-custom-css-001 {
        margin-top: -10%;
    }
}

// LG
@media (min-width: 992px) {
    .services-detail-custom-css-001 {
        margin-top: -25%;
    }
}

// XL
@media (min-width: 1200px) {
}

// XXl
@media (min-width: 1400px) {
    h2,
    .h2 {
        font-size: 2rem !important;
    }

    h3,
    .h3 {
        font-size: calc(1rem + .2vw) !important;
    }
}