<img class="about-us-custom-css-002" [src]="images.image001" />

<div>
    <div style="display: flex; flex-wrap: wrap;  padding: 0% 6%; margin-top: 5%;">
        <div class="col-12 text-center about-us-custom-css-003">
            <h2 class="section-heading text-uppercase">{{ contents.content001 }}</h2>
            <h3 class="section-subheading text-muted">{{ contents.content002 }}</h3>
            <br><br>
        </div>
        <div class="col-12" style="color: black;">
            <div [innerHTML]="contents.content003" class="about-us-custom-css-001"></div>
        </div>
    </div>
</div>