<img style="width: 100%;" src="assets/images/about-us-001.jpg" alt="..." />

<div>
    <br><br><br>
    <div style="display: flex; flex-wrap: wrap;  padding: 2%;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">เกี่ยวกับเรา</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            <br>
        </div>
        <div class="col-12 col-md-7">
            <div [innerHTML]="contents.text01" style="padding: 5%;  font-size: 1.5rem;"></div>
        </div>
        <div class="col-12 col-md-5">
            <div class="team-member">
                <img class="mx-auto rounded-circle" [src]="images.image001" alt="..." />
            </div>

        </div>
    </div>
</div>