<img class="edit-custom-css-001" src="assets/images/edit-001.jpg" />

<div>
    <div style="display: flex; flex-wrap: wrap;  padding: 0% 2%; margin-top: 5%;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">การจัดการข้อมูล</h2>
            <br><br>
        </div>

        <mat-tab-group (selectedTabChange)="getData($event);" style="padding: 1% 8%; width: 100%;">
            <!-- หน้าหลัก -->
            <mat-tab label="หน้าหลัก">
                <div style="margin: 2%; text-align: right;">
                    <div style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content001</mat-label>
                            <input matInput [(ngModel)]="contentsHome.content001">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content002</mat-label>
                            <input matInput [(ngModel)]="contentsHome.content002">
                        </mat-form-field>

                        <div>
                            <h6>Content003</h6>
                        </div>
                        <div *ngFor="let editor of editorsHome; let i = index" class="NgxEditor__Wrapper"
                            style="margin-bottom: 20px;">
                            <ngx-editor-menu [editor]="editorsHome[i]" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editorsHome[i]" [(ngModel)]="contentsHome.content003"
                                [disabled]="false" [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                        </div>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content004</mat-label>
                            <input matInput [(ngModel)]="contentsHome.content004">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content005</mat-label>
                            <input matInput [(ngModel)]="contentsHome.content005">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content006</mat-label>
                            <input matInput [(ngModel)]="contentsHome.content006">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content007</mat-label>
                            <input matInput [(ngModel)]="contentsHome.content007">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>image001</mat-label>
                            <input matInput [(ngModel)]="imagesHome.image001">
                        </mat-form-field>
                    </div>

                    <div style="text-align: left;"><br>
                        <h6>Array001</h6>
                    </div>
                    <div *ngFor="let array of arraysHome?.array001; let i = index" class="edit-custom-css-002"
                        style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="array.name">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Description</mat-label>
                            <input matInput [(ngModel)]="array.description">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Class</mat-label>
                            <input matInput [(ngModel)]="array.class">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Image</mat-label>
                            <input matInput [(ngModel)]="array.image001">
                        </mat-form-field>

                        <img class="col-12" style="width: 10%; justify-content: center;" [src]="array.image001" />
                        <br><br>
                    </div>

                    <div style="text-align: left;"><br>
                        <h6>Array003</h6>
                    </div>
                    <div *ngFor="let array of arraysHome?.array003; let i = index" class="edit-custom-css-002"
                        style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="array.name">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Count</mat-label>
                            <input matInput [(ngModel)]="array.count">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Class</mat-label>
                            <input matInput [(ngModel)]="array.class">
                        </mat-form-field>
                        <br><br>
                    </div>
                    <br>
                    <button mat-stroked-button (click)="updateData()">บันทึก</button>
                </div>
            </mat-tab>

            <!-- เกี่ยวกับเรา -->
            <mat-tab label="เกี่ยวกับเรา">
                <div style="margin: 2%; text-align: right;">
                    <div style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content001</mat-label>
                            <input matInput [(ngModel)]="contentsAboutUs.content001">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content002</mat-label>
                            <input matInput [(ngModel)]="contentsAboutUs.content002">
                        </mat-form-field>

                        <div>
                            <h6>Content003</h6>
                        </div>
                        <div *ngFor="let editor of editorsAboutUs; let i = index" class="NgxEditor__Wrapper"
                            style="margin-bottom: 20px;">
                            <ngx-editor-menu [editor]="editorsAboutUs[i]" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editorsAboutUs[i]" [(ngModel)]="contentsAboutUs.content003"
                                [disabled]="false" [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                        </div>
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>image001</mat-label>
                            <input matInput [(ngModel)]="imagesAboutUs.image001">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>image002</mat-label>
                            <input matInput [(ngModel)]="imagesAboutUs.image002">
                        </mat-form-field>
                    </div>
                    <button mat-stroked-button (click)="updateData()">บันทึก</button>
                </div>
            </mat-tab>

            <!-- บริการ -->
            <mat-tab label="บริการ">
                <div style="margin: 2%; text-align: right;">
                    <div style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content001</mat-label>
                            <input matInput [(ngModel)]="contentsServices.content001">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content002</mat-label>
                            <input matInput [(ngModel)]="contentsServices.content002">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>image001</mat-label>
                            <input matInput [(ngModel)]="imagesServices.image001">
                        </mat-form-field>
                    </div>

                    <div style="text-align: left;"><br>
                        <h6>Array001</h6>
                    </div>

                    <mat-accordion *ngFor="let array of arraysServices?.array001; let i = index"
                        class="edit-custom-css-002" style="text-align: left;">
                        <mat-expansion-panel (opened)="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{array.name}}</mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-slide-toggle [(ngModel)]="array.enabled" style="margin-bottom: 30px;"
                                class="col-12">Enabled</mat-slide-toggle>

                            <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Name</mat-label>
                                <input matInput [(ngModel)]="array.name">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Description</mat-label>
                                <input matInput [(ngModel)]="array.description">
                            </mat-form-field>

                            <div>
                                <h6>Content</h6>
                            </div>
                            <div class="NgxEditor__Wrapper" style="margin-bottom: 20px;">
                                <ngx-editor-menu [editor]="editorsServices[i]" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editorsServices[i]" [(ngModel)]="array.content" [disabled]="false"
                                    [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                            </div>

                            <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Image</mat-label>
                                <input matInput [(ngModel)]="array.image001">
                            </mat-form-field>

                            <img class="col-12" style="width: 30%; justify-content: center;" [src]="array.image001" />
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                    <button mat-stroked-button (click)="updateData()">บันทึก</button>
                </div>
            </mat-tab>

            <!-- ติดต่อเรา -->
            <mat-tab label="ติดต่อเรา">
                <div style="margin: 2%; text-align: right;">
                    <div style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content001</mat-label>
                            <input matInput [(ngModel)]="contentsContactUs.content001">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content002</mat-label>
                            <input matInput [(ngModel)]="contentsContactUs.content002">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content003</mat-label>
                            <input matInput [(ngModel)]="contentsContactUs.content003">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>image001</mat-label>
                            <input matInput [(ngModel)]="imagesContactUs.image001">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>image002</mat-label>
                            <input matInput [(ngModel)]="imagesContactUs.image002">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>image003</mat-label>
                            <input matInput [(ngModel)]="imagesContactUs.image003">
                        </mat-form-field>
                    </div>

                    <div style="text-align: left;"><br>
                        <h6>Array001</h6>
                    </div>
                    <div *ngFor="let array of arraysContactUs?.array001; let i = index" class="edit-custom-css-002"
                        style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="array.name">
                        </mat-form-field>

                        <div>
                            <h6>Description</h6>
                        </div>
                        <div class="NgxEditor__Wrapper" style="margin-bottom: 20px;">
                            <ngx-editor-menu [editor]="editorsContactUs[i]" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editorsContactUs[i]" [(ngModel)]="array.description"
                                [disabled]="false" [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                        </div>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Class</mat-label>
                            <input matInput [(ngModel)]="array.class">
                        </mat-form-field>
                        <br><br>
                    </div>
                    <br>
                    <button mat-stroked-button (click)="updateData()">บันทึก</button>
                </div>
            </mat-tab>

            <!-- ทีมของเรา -->
            <mat-tab label="ทีมของเรา">
                <div style="margin: 2%; text-align: right;">
                    <div style="text-align: left;"><br>
                        <h6>My Teams</h6>
                        <button mat-stroked-button (click)="addUser()"
                            style="float: right; margin-top: -4%;">เพิ่มผู้ใช้งาน</button>
                    </div>
                    <div *ngFor="let array of dataTeamUs; let i = index" class="edit-custom-css-002"
                        style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Username</mat-label>
                            <input matInput [(ngModel)]="array.username">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Password</mat-label>
                            <input matInput [(ngModel)]="array.password">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="array.name">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Description</mat-label>
                            <input matInput [(ngModel)]="array.description">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Image</mat-label>
                            <input matInput [(ngModel)]="array.image">
                        </mat-form-field>

                        <img class="col-12" style="width: 30%; justify-content: center;" [src]="array.image" />
                        <button mat-stroked-button (click)="deleteUser(i)" style="float: right;"><i
                                class="fa-solid fa-trash"></i></button>
                    </div>
                    <br>
                    <button mat-stroked-button (click)="updateData()">บันทึก</button>
                </div>
            </mat-tab>

            <!-- รูปภาพ -->
            <mat-tab label="รูปภาพ">
                <div style="margin: 2%; text-align: center; display: flex; flex-wrap: wrap;">
                    <div class="col-12"
                        style="text-align: left; padding: 2%; background-color: #e7e7e7; border-radius: 10px;">
                        <form (ngSubmit)="uploadFile()" #fileUploadForm="ngForm" enctype="multipart/form-data">
                            <input type="file" (change)="onFileChange($event)" />
                            <button mat-stroked-button type="submit"
                                style="margin-left: 5%; float: right;">Upload</button>
                        </form>
                    </div>
                    <div class="col-12" style="margin-top: 8%;">
                        <h2 class="section-heading text-uppercase">รูปภาพทั้งหมด</h2>
                        <br><br>
                    </div>
                    <div class="col-3" *ngFor="let image of dataImages?.images; let i = index" style="padding: 2%;">
                        <div style="text-align: left; font-size: 10px;">
                            File Name: {{image?.fileName}}
                        </div>
                        <div style="text-align: left; font-size: 10px; float: right; cursor: pointer;"
                            (click)="deleteImage(image?.fileName)">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                        <div style="text-align: left; font-size: 10px;">Path: assets/images/{{image?.fileName}}</div>
                        <img style="width: 100%; justify-content: center; padding: 3%;" [src]="image?.path" />
                    </div>
                </div>
            </mat-tab>

            <!-- อื่นๆ -->
            <mat-tab label="อื่นๆ">
                <div style="margin: 2%; text-align: right;">
                    <div style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content001</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content001">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content002</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content002">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content003</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content003">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content004</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content004">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content005</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content005">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content006</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content006">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content007</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content007">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content008</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content008">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Content009</mat-label>
                            <input matInput [(ngModel)]="contentsOthers.content009">
                        </mat-form-field>

                        <div>
                            <h6>Content010</h6>
                        </div>
                        <div *ngFor="let editors of editorsOthers010; let i = index" class="NgxEditor__Wrapper"
                            style="margin-bottom: 20px;">
                            <ngx-editor-menu [editor]="editorsOthers010[i]" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editorsOthers010[i]" [(ngModel)]="contentsOthers.content010"
                                [disabled]="false" [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                        </div>

                        <div>
                            <h6>Content011</h6>
                        </div>
                        <div *ngFor="let editors of editorsOthers011; let i = index" class="NgxEditor__Wrapper"
                            style="margin-bottom: 20px;">
                            <ngx-editor-menu [editor]="editorsOthers011[i]" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editorsOthers011[i]" [(ngModel)]="contentsOthers.content011"
                                [disabled]="false" [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                        </div>

                        <div>
                            <h6>Content012</h6>
                        </div>
                        <div *ngFor="let editors of editorsOthers012; let i = index" class="NgxEditor__Wrapper"
                            style="margin-bottom: 20px;">
                            <ngx-editor-menu [editor]="editorsOthers012[i]" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editorsOthers012[i]" [(ngModel)]="contentsOthers.content012"
                                [disabled]="false" [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                        </div>

                        <div>
                            <h6>Content013</h6>
                        </div>
                        <div *ngFor="let editors of editorsOthers013; let i = index" class="NgxEditor__Wrapper"
                            style="margin-bottom: 20px;">
                            <ngx-editor-menu [editor]="editorsOthers013[i]" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editorsOthers013[i]" [(ngModel)]="contentsOthers.content013"
                                [disabled]="false" [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                        </div>

                        <div>
                            <h6>Content014</h6>
                        </div>
                        <div *ngFor="let editors of editorsOthers014; let i = index" class="NgxEditor__Wrapper"
                            style="margin-bottom: 20px;">
                            <ngx-editor-menu [editor]="editorsOthers014[i]" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editorsOthers014[i]" [(ngModel)]="contentsOthers.content014"
                                [disabled]="false" [placeholder]="'กรอกข้อมูล...'"></ngx-editor>
                        </div>
                    </div>

                    <div style="text-align: left;"><br>
                        <h6>Array001</h6>
                    </div>
                    <div *ngFor="let array of arraysOthers?.array001; let i = index" class="edit-custom-css-002"
                        style="text-align: left;">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="array.name">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Link</mat-label>
                            <input matInput [(ngModel)]="array.link">
                        </mat-form-field>
                    </div>
                    <br>
                    <button mat-stroked-button (click)="updateData()">บันทึก</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>