.services-custom-css-002 {
    padding: 5% 5% 0% 5% !important;
}

.services-custom-css-003 {
    display: flex;
    flex-wrap: wrap;
}

.services-custom-css-004 {
    width: 100%;
}

// XS
@media (max-width: 575px) {
    .services-custom-css-004 {
        padding-top: 10%;
    }
}

// SM
@media (min-width: 576px) {
    .services-custom-css-004 {
        padding-top: 10%;
    }
}

// MD
@media (min-width: 768px) {
    .services-custom-css-002 {
        padding: 3% 3% 0% 0% !important;
    }

    .services-custom-css-003 {
        padding-left: 3% !important;
    }

    .services-custom-css-004 {
        padding-top: 10%;
    }
}

// LG
@media (min-width: 992px) {
    .services-custom-css-002 {
        padding: 3% 3% 0% 0% !important;
    }

    .services-custom-css-003 {
        padding-left: 3% !important;
    }

    .services-custom-css-004 {
        padding-top: 0%;
    }
}

// XL
@media (min-width: 1200px) {
    .services-custom-css-002 {
        padding: 3% 3% 0% 0% !important;
    }

    .services-custom-css-003 {
        padding-left: 3% !important;
    }
}

// XXl
@media (min-width: 1400px) {
    .services-custom-css-002 {
        padding: 3% 3% 0% 0% !important;
    }

    .services-custom-css-003 {
        padding-left: 3% !important;
    }
}