<img class="services-custom-css-004" [src]="images.image001" />

<div>
    <!-- บริการของเรา -->
    <!-- <div style="display: flex; flex-wrap: wrap;">
        <div class="col-12 text-center services-custom-css-005">
            <h2 class="section-heading text-uppercase">{{ contents.content001 }}</h2>
            <h3 class="section-subheading text-muted">{{ contents.content002 }}</h3>
            <br>
        </div>
        <div class="services-custom-css-003" style="display: flex; padding: 2% 8% !important;">
            <div *ngFor="let array of arrays.array001" class="col-12 col-md-6 col-lg-4"
                style="color: #fff; text-align: center; padding: 1%;">
                <div class="portfolio-item" (click)="goToDetail(array)">
                    <img class="img-fluid" [src]="array.image001"
                        style="border: solid #003CA6; width: 100%; height: auto; display: block;" />
                    <div class="portfolio-caption" style="background-color: #003CA6; padding: 5%;">
                        <div class="portfolio-caption-heading">{{ array.name }}</div>
                        <div class="portfolio-caption-subheading text-muted">{{ array.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div style="display: flex; flex-wrap: wrap; margin-top: 6%;">
        <div class="col-12 text-center services-custom-css-005" style="padding: 0% 2%">
            <h2 class="section-heading text-uppercase">{{ contents.content001 }}</h2>
            <h3 class="section-subheading text-muted">{{ contents.content002 }}</h3>
        </div>
        <div class="services-custom-css-003" style="display: flex; padding: 2% 8% !important;">
            <div *ngFor="let array of getAllService()" class="col-12 col-md-6 col-lg-4 services-custom-css-009">
                <div class="services-custom-css-006" (click)="goToDetail(array)">
                    <img class="services-custom-css-010" [src]="array.image001"/>
                    <div class="services-custom-css-007 services-custom-css-008">
                        <div class="portfolio-caption-heading" style="padding: 5% 2%;">{{ array.name }}</div>
                        <!-- <div class="portfolio-caption-subheading text-muted">{{ array.description }}</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>