<img style="width: 100%;" src="assets/images/contact-us-001.jpg" alt="..." />

<div>
    <br><br><br>
    <div class="custom-002" style="margin: 4%; border-radius: 10px;">
        <div class="col-12 col-md-4" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-house fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <br>
            <div>ที่อยู่</div>
            <div>บริษัท อินเทลลิเจ้นท์ โกลบอล จำกัด
                ที่อยู่ : 909/275 ซอย25 ถนนรังสิต-นครนายก ตำบลประชาธิปัตย์ อำเภอธัญบุรี จ.ปทุมธานี 12130</div>
        </div>
        <div class="col-12 col-md-4" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-phone fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <br>
            <div>ติดต่อ</div>
            <div>เบอร์โทร : 065-359-3544<br>
                Email : support&#64;intelligentglobal.com</div>
        </div>
        <div class="col-12 col-md-4" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-door-open fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <br>
            <div>เวลาทำการ</div>
            <div>วันจันทร์ – วันศุกร์: 8am to 6pm<br>
                Saturday: 9am to 5pm</div>
        </div>
    </div>

    <div style="display: flex; flex-wrap: wrap; margin: 4%; border-radius: 10px; text-align: center;">
        <div class="col-12 col-md-6" style="color: #fff; padding-right: 1%;">
            <img [src]="images.image001" style="width: 100%;" alt="..." />
        </div>
        <div class="col-12 col-md-6" style="color: #fff; padding-left: 1%;">
            <img [src]="images.image002" style="width: 100%;" alt="..." />
        </div>
    </div>
</div>