<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{ contents.content001 }}</div>
        <div class="masthead-heading text-uppercase">{{ contents.content002 }}</div>
    </div>
</header>

<div style="background-color: #ffc800;">
    <br><br><br>

    <div style="display: flex; flex-wrap: wrap;">
        <div class="col-12 col-md-7">
            <div [innerHTML]="contents.content003" style="padding: 2%;"></div>
        </div>
        <div class="col-12 col-md-5">
            <div class="circle-frame">
                <img [src]="images.image001" />
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="custom-002">
        <div class="col-12 col-md-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
        <div class="col-12 col-md-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
        <div class="col-12 col-md-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
    </div>
    <br><br><br>


    <br><br><br>
    <div style="display: flex; flex-wrap: wrap;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">บริการของเรา</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div style="background-color: #00225d;">จดสิทธิบัตร</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div style="background-color: #00225d;">จดสิทธิบัตร</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div style="background-color: #00225d;">จดสิทธิบัตร</div>
        </div>
    </div>
    <br><br><br>


    <br><br><br>
    <div class="custom-002">
        <div class="col-6 col-md-3" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
        <div class="col-6 col-md-3" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
        <div class="col-6 col-md-3" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
        <div class="col-6 col-md-3" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
    </div>


    <br><br><br>


    <div style="display: flex; flex-wrap: wrap;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">ลูกค้าของเรา</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="col-12" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%;" /></div>
        </div>
    </div>
    <br><br><br>


    <div style="display: flex; flex-wrap: wrap;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">ทีมของเรา</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%; border-radius: 50%;" /></div>
            <div style="background-color: #00225d;">จดสิทธิบัตร</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%; border-radius: 50%;" /></div>
            <div style="background-color: #00225d;">จดสิทธิบัตร</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div><img [src]="images.image001" style="width: 100%; border-radius: 50%;" /></div>
            <div style="background-color: #00225d;">จดสิทธิบัตร</div>
        </div>
    </div>
    <br><br><br>

</div>