header.masthead {
    background-image: url("../../../public/assets/images/home/home-001.jpg") !important;
}

.moving-element {
    transition: transform 0.5s ease-in-out;
    /* กำหนดช่วงเวลาและความเร็วของการเคลื่อนไหว */
}

.moving-element:hover {
    transform: scale(1.2);
}


// Default
.home-custom-css-001 {
    font-size: 2em;
}

.home-custom-css-002 {
    padding: 5% 5% 0% 5% !important;
}

.home-custom-css-003 {
    display: flex;
    flex-wrap: wrap;
}



// XS
@media (max-width: 575px) {
    .home-custom-css-004 {
        display: none !important;
    }
}

// SM
@media (min-width: 576px) {
    .home-custom-css-004 {
        display: none !important;
    }
}

// MD
@media (min-width: 768px) {
    .home-custom-css-001 {
        font-size: 3em;
    }

    .home-custom-css-002 {
        padding: 3% 3% 0% 0% !important;
    }

    .home-custom-css-003 {
        padding-left: 3% !important;
    }

    .home-custom-css-004 {
        display: block !important;
    }
}

// LG
@media (min-width: 992px) {
    .home-custom-css-001 {
        font-size: 4em;
    }

    .home-custom-css-002 {
        padding: 3% 3% 0% 0% !important;
    }

    .home-custom-css-003 {
        padding-left: 3% !important;
    }

    .home-custom-css-004 {
        display: block !important;
    }
}

// XL
@media (min-width: 1200px) {
    .home-custom-css-001 {
        font-size: 5em;
    }

    .home-custom-css-002 {
        padding: 3% 3% 0% 0% !important;
    }

    .home-custom-css-003 {
        padding-left: 3% !important;
    }

    .home-custom-css-004 {
        display: block !important;
    }
}

// XXl
@media (min-width: 1400px) {
    .home-custom-css-001 {
        font-size: 6em;
    }

    .home-custom-css-002 {
        padding: 3% 3% 0% 0% !important;
    }

    .home-custom-css-003 {
        padding-left: 3% !important;
    }

    .home-custom-css-004 {
        display: block !important;
    }
}