<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{ contents.content001 }}</div>
        <div class="masthead-heading text-uppercase">{{ contents.content002 }}</div>
    </div>
</header>

<div style="padding-top: 4%;">

    <!-- คำคม -->
    <div
        style="display: flex; flex-wrap: wrap;  padding: 2%; background-image: url(assets/images/home-004.png); background-size: cover;  background-position: center; ">
        <br><br><br><br>
        <div class="col-12 col-md-7" style="display: flex; align-items: center !important; ">
            <div [innerHTML]="contents.content003" style="padding: 5%;  font-size: 1.5rem;"></div>
        </div>
        <div class="col-12 col-md-5">
            <div class="team-member">
                <img class="mx-auto rounded-circle" [src]="images.image003" alt="..." />
            </div>
        </div>
    </div>


    <!-- บริการหลัก -->
    <div class="custom-002">
        <br><br><br>
        <div class="col-4" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x home-custom-css-001">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-handshake fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <br>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียนบริการจดทะเบียนบริการจดทะเบียน</div>
        </div>
        <div class="col-4" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x home-custom-css-001">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-landmark fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <br>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียนบริการจดทะเบียนบริการจดทะเบียน</div>
        </div>
        <div class="col-4" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x home-custom-css-001">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-solid fa-user-secret fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <br>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียนบริการจดทะเบียนบริการจดทะเบียนบริการจดทะเบียน</div>
        </div>
    </div>

    <br><br><br>
    <!-- บริการของเรา -->
    <div style="display: flex; flex-wrap: wrap;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">บริการของเรา</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            <br>
        </div>
        <div class="home-custom-css-003" style="display: flex;">
        <div *ngFor="let array of arrays.array001" class="col-12 col-md-6 col-lg-4 home-custom-css-002"
            style="color: #fff; text-align: center; padding: 1%;">
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"></div>
                    </div>
                    <img class="img-fluid" [src]="array.image001" alt="..." />
                </a>
                <div class="portfolio-caption" style="background-color: #00225d; padding: 5%;">
                    <div class="portfolio-caption-heading">{{ array.name }}</div>
                    <div class="portfolio-caption-subheading text-muted">{{ array.description }}</div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <br><br><br>
    <!-- สถิติ -->
    <div class="custom-002">
        <div class="col-6 col-lg-3" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fas fa-solid fa-user fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
        <div class="col-6 col-lg-3" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fas fa-solid fa-address-card fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
        <div class="col-6 col-lg-3" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
        <div class="col-6 col-lg-3" style="color: #fff; padding: 5%;">
            <div>
                <span class="fa-stack fa-4x">
                    <i class="fas fa-solid fa-shield-halved fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>จดสิทธิบัตร</div>
            <div>บริการจดทะเบียน</div>
        </div>
    </div>

    <br><br><br><br><br>
    <!-- ลูกค้าของเรา -->
    <div style="display: flex; flex-wrap: wrap; padding: 2%;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">ลูกค้าของเรา</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            <br><br><br>
        </div>
        <div class="col-12" style="color: #fff; text-align: center;">
            <div><img [src]="images.image001" style="width: 50%; " /></div>
        </div>
    </div>

    <br><br><br>
    <div style="display: flex; flex-wrap: wrap; padding: 2%;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">ทีมของเรา</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            <br><br><br>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div class="team-member-custom-001">
                <img class="mx-auto rounded-circle" [src]="images.image001" alt="..." />
            </div>
            <div style="text-align: center;">
                <h4 style="color: #00225d;">Diana Petersen</h4>
                <p class="text-muted" style="color: #ffc800 !important;">Lead Marketer</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div class="team-member-custom-001">
                <img class="mx-auto rounded-circle" [src]="images.image001" alt="..." />
            </div>
            <div style="text-align: center;">
                <h4 style="color: #00225d;">Diana Petersen</h4>
                <p class="text-muted" style="color: #ffc800 !important;">Lead Marketer</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="color: #fff;">
            <div class="team-member-custom-001">
                <img class="mx-auto rounded-circle" [src]="images.image001" alt="..." />
            </div>
            <div style="text-align: center;">
                <h4 style="color: #00225d;">Diana Petersen</h4>
                <p class="text-muted" style="color: #ffc800 !important;">Lead Marketer</p>
            </div>
        </div>
    </div>

    <br><br><br>
</div>


<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/images/close-icon.svg"
                    alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/portfolio/1.jpg" alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>