header.masthead {
    background-image: url("../../../public/assets/images/home/home-001.jpg") !important;
}

.moving-element {
    transition: transform 0.5s ease-in-out; /* กำหนดช่วงเวลาและความเร็วของการเคลื่อนไหว */
}

.moving-element:hover {
    transform: scale(1.2); 
}