<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{ contents.content001 }}</div>
        <div class="masthead-heading text-uppercase home-custom-css-015">{{ contents.content002 }}</div>
    </div>
</header>

<div>
    <!-- วิสัยทัศน์ -->
    <div style="display: flex; flex-wrap: wrap;  padding: 2%; background-size: cover;  background-position: center;">
        <div class="col-12 col-md-7" style="display: flex; color: black;">
            <div [innerHTML]="contents.content003" class="home-custom-css-005"></div>
        </div>
        <div class="col-12 col-md-5">
            <div class="team-member" style="margin-top: 1rem;">
                <img class="mx-auto rounded-circle" [src]="images.image002" alt="..." />
            </div>
        </div>
    </div>

    <!-- บริการหลัก -->
    <div class="home-custom-css-011" style="justify-content: center;">
        <div *ngFor="let array of arrays.array001" class="col-6 col-md-4 home-custom-css-007">
            <div class="hover" style="background-color: #000000c7; padding: 5% 5%; border-radius: 5px; height: 100%;">
                <img [src]="array.image001" style="width: 30%;" />
                <div class="home-custom-css-006">{{ array.name }}</div>
                <!-- <div class="home-custom-css-004">{{ array.description }}</div> -->
            </div>
        </div>
    </div>

    <!-- บริการของเรา -->
    <!-- <div style="display: flex; flex-wrap: wrap; margin-top: 6%;">
        <div class="col-12 text-center" style="padding: 0% 2%">
            <h2 class="section-heading text-uppercase">{{ contents.content004 }}</h2>
            <h3 class="section-subheading text-muted">{{ contents.content005 }}</h3>
        </div>
        <div class="home-custom-css-003" style="display: flex; padding: 2% 8% !important;">
            <div *ngFor="let array of arrays.array002" class="col-12 col-md-6 col-lg-4"
                style="color: #fff; text-align: center; padding: 1%;">
                <div class="portfolio-item" (click)="goToDetail(array)">
                    <img class="img-fluid" [src]="array.image001"
                        style="border: solid #003CA6; width: 100%; height: auto; display: block;" />
                    <div class="portfolio-caption home-custom-css-012">
                        <div class="portfolio-caption-heading">{{ array.name }}</div>
                        <div class="portfolio-caption-subheading text-muted">{{ array.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div style="display: flex; flex-wrap: wrap; margin-top: 6%;">
        <div class="col-12 text-center" style="padding: 0% 2%">
            <h2 class="section-heading text-uppercase">{{ contents.content004 }}</h2>
            <h3 class="section-subheading text-muted">{{ contents.content005 }}</h3>
        </div>
        <div class="home-custom-css-003" style="display: flex; padding: 2% 8% !important;">
            <div *ngFor="let array of getAllService()" class="col-12 col-md-6 col-lg-4 home-custom-css-016">
                <div class="home-custom-css-013" (click)="goToDetail(array)">
                    <img class="home-custom-css-017" [src]="array.image001"/>
                    <div class="home-custom-css-014 home-custom-css-012">
                        <div class="portfolio-caption-heading" style="padding: 5% 2%;">{{ array.name }}</div>
                        <!-- <div class="portfolio-caption-subheading text-muted">{{ array.description }}</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- สถิติ -->
    <!-- <div class="home-custom-css-011" style="margin-top: 6%; padding: 0px 7%;">
        <div *ngFor="let array of arrays.array003" class="col-6 col-lg-3" style="color: #fff; padding: 5% 2%;">
            <div style="display: flex; background-color: #000000c7; padding: 0% 5%; border-radius: 5px">
                <div class="fa-stack fa-4x col-6">
                    <i [ngClass]="array.class"></i>
                </div>
                <div class="col-6" style="align-content: center;">
                    <div style="font-size: 150%; color: #ffc800 !important;">{{ array.count | number }}</div>
                    <div>{{ array.name }}</div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- ทีมของเรา -->
    <!-- <div style="display: flex; flex-wrap: wrap; padding: 0% 2%; margin-top: 6%; justify-content: center;">
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">{{ contents.content006 }}</h2>
            <h3 class="section-subheading text-muted">{{ contents.content007 }}</h3>
            <br>
        </div>
        <div *ngFor="let array of arrays.array004" class="col-12 col-md-6 col-lg-4"
            style="color: #fff; margin-top: 3%;">
            <div class="team-member-custom-001 home-custom-css-009">
                <img class="mx-auto rounded-circle" [src]="array.image" alt="..." />
            </div>
            <div style="text-align: center;">
                <h4 style="color: #003CA6;">{{ array.name }}</h4>
                <p class="text-muted" style="color: #003CA6 !important; font-weight: bold; padding: 0% 5% 5% 5%;">{{
                    array.description }}
                </p>
            </div>
        </div>
    </div> -->
</div>